p.dotted{
    border-style: dotted;
    border-color: red;
}
p.dashed{
    border-style: dashed;
    border-color: green;

}
p.solid{
    border-style: solid;
    border-width: medium;
}
p.double{
    border-style: double;
}
p.groove{
    border-style: groove;
}
p.ridge{
    border-style: ridge;
}
p.inset{
    border-style: inset;
}
p.outset{
    border-style: outset;
}
p.mix{
    border-style:dotted dashed solid double  ;
    border-width:2px 3px 2px 3px;
    border-color: red green blue yellow;
}
h2{
    border:5px solid black;
}
